@charset "utf-8";
*, *:before, *:after {
    box-sizing: border-box
}
body {
    font-family: 'Montserrat', serif;
    margin: 0 auto;
    text-align: center;
    width: 1280px;
    color: #373737;

}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
h2 {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3px;
    margin: 40px 0;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration: underline;
}
img {
    border:none;
    margin:0;
    padding:0;
    width: 100%;
}
p{
    margin:0 0 24px 0;
    padding: 0 40px;
}
.menu-item {
    display: inline-block;
}
.menu-header {
    margin: 30px 0;
}
.menu-header a {
    text-transform: uppercase;
    color: #ff0000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 3px;
    padding: 30px;
}
main {
    font-size: 16px;
    line-height: 26px;
}
form {
    display: inline;
}
.button-footer {
    margin-top: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #ff0000;
    border:1px solid #ff0000;
    border-radius:4px;
    padding: 16px 38px;
}
.button-footer:hover {
    text-decoration: underline;
    cursor: pointer;
}
p.copyright {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    margin: 100px 50px 50px 0;
    text-align: right;
}
@media (max-width: 1280px) {
    body, .image-main
    {
        width: 100%;
    }
}
@media (max-width: 768px) {
    ul.menu-header
    {
        display: inline-block;
    }
    .menu-header li {
        padding-top: 24px;
    }
}